body{
    background: #cccccc;
}

#banner{
    width: 100%;
    
}

.principal {
    background: #cccccc;
    padding: 30px;
}

.tiulo-principal{
    padding-left: 20px;
}

.titulo-centralizado{
    text-align: center;
    font-size: 50px;
}

p{
    text-align: center;
}

#missao {
    font-size: 20px;
}

em strong{
    color: red;
}

.itens {
    font-style: italic;
}

.beneficios{
    background:#FFFFFF;
    padding: 20px;
}


ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 27%;
    font-size: 20px;
}

.imagembeneficios {
    width: 50%;
}